<ion-view view-title="Categorias">
	<ion-content class="padding">
	<ion-refresher pulling-text="Baja para actualizar..." on-refresh="showData()">
        </ion-refresher>
	        <div class="row responsive-sm" show-Delete = "data.showDelete" show-Reorder = "data.showReorder">
	            <div class="card" ng-repeat="datosCategoria in datosCategorias">
		  			<div class="item item-button-right">
			            {{datosCategoria.categoria}}
			            <a class="button" href="#/side/Ejercicios/{{datosCategoria.id_categoria}}">
                      		<i class="icon ion-chevron-right"></i>
                  		</a>
		                <div class="button-bar ng-fit-text">
						</div>
		            </div>
	            </div>
			</div>
			<a id="boton" class="button button-block button-balanced" ng-if="showAdmin()" href="#/side/nuevaCategoria">
  				Agregar Categoría
			</a>
	</ion-content>
</ion-view>