<ion-view view-title="Categorias">
	<ion-content class="padding">
	        <div class="row responsive-sm" show-Delete = "data.showDelete" show-Reorder = "data.showReorder">
	            <div class="card" ng-repeat="datosCategoria in datosCategorias" href="#/tab/alumno/{{datosalumno.id}}">
		  			<div class="item item-text-wrap">
			            {{datosCategoria.categoria}}
			            <!-- <div class="item item-body">
							<img src="{{datosCategoria.imagen}}" style="width:304px;height:228px;">
						</div> -->
		                <div class="button-bar ng-fit-text">
		  					<a class="button button-block button-energized" href="#/side/Ejercicios/{{datosCategoria.id_categoria}}">
  								Ejercicios
							</a>
						</div>
		            </div>
	            </div>
			</div>
	</ion-content>
</ion-view>