<!--View donde se muestra un ejercicio viniendo de una rutina -->
<ion-view view-title="Ejercicio">
  <ion-content class="padding">
  <ion-refresher pulling-text="Baja para actualizar..." on-refresh="showData()">
        </ion-refresher>
    <div class="row responsive-sm">
        <div class="col"><div class="list card" ng-repeat="datosEjercicio in datosEjercicio">
            <div class="item item-text-wrap">
                <h2>{{datosEjercicio.nombreEjercicio}}</h2>
            </div>
            <div class="video-container">
                <iframe src={{trustSrc(datosEjercicio.linkVideo)}} frameborder="0" width="560" height="315"></iframe>
            </div>
            <div class="item item-text wrap">
                <p>
                    {{datosEjercicio.descripcion}}
                </p>
            </div>
          </div>
          <div class="col"><div class="list card" ng-repeat="datosImagen in datosImagen">
            <div class="item item-text-wrap">
                <h2>Equipo Necesario</h2>
            </div>
            <div class="item item-body">
                <img src="{{datosImagen.link}}" style="width:304px;height:228px;">
            </div>
          </div>
          <button id="botonEdicion" class="button button-balanced button-block" ng-if="showAdmin()" ng-click="editModal(datosEjercicio)">Editar Ejercicio</button>
          <button id="botonEliminar" class="button button-assertive button-block" ng-if="showAdmin()" ng-click="delete(datosEjercicio)">Eliminar Ejercicio</button>
      </div></div>
    </div>
  </ion-content>
</ion-view>
<script id="edit.html" type="text/ng-template">
        <div class="modal">
            <ion-header-bar class="bar-dark">
                <button class="button button-icon icon ion-ios-close-outline" ng-click="nulo()"></button>
                <h1 class="title"> Editar Ejercicio</h1>
            </ion-header-bar>
            <ion-content ng-repeat="datosEjercicio in datosEjercicio">
                <form>
                    <div class="list">
                        <label class="item item-input">
                        <span class="input-label">Nombre:</span>
                            <input type="text" ng-model="datosEjercicio.nombreEjercicio" init-from-form>
                        </label>
                        <label class="item item-input">
                        <span class="input-label">Descripcion:</span>
                            <input type="text" ng-model="datosEjercicio.descripcion" init-from-form>
                        </label>
                        <label class="item item-input">
                        <span class="input-label">Link a Video:</span>
                            <input type="text" ng-model="datosEjercicio.linkVideo" init-from-form>
                        </label>
                        <button class="button button-balanced button-block" ng-click="edit({{datosEjercicio.id_ejercicio}},datosEjercicio.nombreEjercicio,datosEjercicio.descripcion,datosEjercicio.categoria,datosEjercicio.linkVideo);">
                            Guardar Ejercicio
                        </button>
                    </div>
                </form>
        </ion-content>
        </div>
</script>