<ion-view view-title="Ejercicios">
	<ion-content class="padding">
	<ion-refresher pulling-text="Baja para actualizar..." on-refresh="showData()">
        </ion-refresher>
	        <div class="row responsive-sm" show-Delete = "data.showDelete" show-Reorder = "data.showReorder">
	            <div class="card" ng-repeat="datosEjercicio in datosEjercicios">
		  			<div class="item item-button-right" >
			            {{datosEjercicio.nombreEjercicio}}
			            <a class="button" href="#/side/EjercicioCategoria/{{id_categoria}}/{{datosEjercicio.id_ejercicio}}">
                      		<i class="icon ion-chevron-right"></i>
                  		</a>
		            </div>
	            </div>
			</div>
			<button id="boton" class="button button-block button-balanced" ng-if="showAdmin()" ng-click="addExcercises()">
  				Agregar Ejercicio
			</button>
	</ion-content>
</ion-view>