<ion-view view-title="Inicio">
  <ion-content class="padding">
    <div class="list">
    <button class="button button-full button-energized" ui-sref="sidemenu.categorias">
        Ejercicios por Categoría
    </button>
    <button class="button button-full button-calm" ui-sref="sidemenu.rutinas">
        Rutinas
    </button>
    <button class="button button-full button-royal" ui-sref="sidemenu.rutinasUsuario" ng-if="showUsuario()" menu-close>
        Mis Rutinas
    </button>
    <button class="button button-full button-assertive" ui-sref="sidemenu.login" menu-close>
        Logout
    </button>
  </ion-content>
</ion-view>