<!--View donde se muestran los campos requeridos para agregar un nuevo ejercicio-->
<ion-view view-title="Nuevo Ejercicio">
	<ion-content class="padding" >
		<div class="list">
	  		<label class="item item-input">
	    		<input type="text" ng-model="datosEjercicio.nombreEjercicio" placeholder="Nombre del Ejercicio">
	  		</label>
	  		<label class="item item-input">
	    		<input type="text" ng-model="datosEjercicio.descripcion" placeholder="Descripcion">
	  		</label>
	  		<label class="item item-input">
	    		<input type="text" ng-model="datosEjercicio.linkVideo" placeholder="Link a un video del ejercicio">
	  		</label>

	  		<!-- Localización del usuario -->
	  		<label class="item">Latitud: {{localizacion.lat}}</label>
	  		<label class="item">Longitud: {{localizacion.long}}</label>

	  		<!-- Aqui se despliega la imagen que escoge el usuario -->
	  		<img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="width:100%; height: auto;"/>

		</div>
		<button class="button button-full button-dark" ng-disabled="!datosEjercicio.nombreEjercicio || !datosEjercicio.descripcion || !datosEjercicio.linkVideo" ng-click="guardarEjercicio()">
  			Guardar Ejercicio
		</button>

		<!--Boton para subir imagen del carrete-->
		<button class="button button-full button-positive" ng-click="abrirCamara()">Tomar foto</button>

		<!--Boton para subir imagen del carrete-->
		<button class="button button-full button-royal" ng-click="obtenerLocalizacion()">Obtener mi localización</button>

		 <button class="button button-full button dark" ng-click="subirImagen()">Subir al servidor</button>
	</ion-content>
</ion-view>