<ion-view view-title="Registro">
	<ion-content class="padding">
		<div class="list">
	  		<label class="item item-input">
	    		<input type="text" ng-model="nombre" placeholder="Nombre">
	  		</label>
	  		<label class="item item-input">
	    		<input type="text" ng-model="apPaterno" placeholder="Apellido Paterno">
	  		</label>
	  		<label class="item item-input">
	    		<input type="text" ng-model="apMaterno" placeholder="Apellido Materno">
	  		</label>
	  		<label class="item item-input">
	    		<input type="email" ng-model="email" placeholder="Email">
	  		</label>
	  		<label class="item item-input">
	    		<input type="text" ng-model="usuario" placeholder="Usuario">
	  		</label>
	  		<label class="item item-input">
	    		<input type="password" ng-model="password" ng-minlength="5" placeholder="Contraseña">
	  		</label>
		</div>
		<button class="button button-full button-dark" ng-disabled="!email || !password || !nombre || !apPaterno || !apMaterno || !usuario" ui-sref="sidemenu.home" menu-close>
  			Registrarse
		</button>
	</ion-content>
</ion-view>