<!--View donde se muestran los campos requeridos para agregar a un neuvo usuario -->
<ion-view view-title="Registro">
	<ion-content class="padding">
		<div class="list">
	  		<label class="item item-input">
	    		<input type="text" ng-model="datosUsuario.nombre" placeholder="Nombre">
	  		</label>
	  		<label class="item item-input">
	    		<input type="text" ng-model="datosUsuario.apPaterno" placeholder="Apellido Paterno">
	  		</label>
	  		<label class="item item-input">
	    		<input type="text" ng-model="datosUsuario.apMaterno" placeholder="Apellido Materno">
	  		</label>
	  		<label class="item item-input">
	    		<input type="email" ng-model="datosUsuario.email" placeholder="Email">
	  		</label>
	  		<label class="item item-input">
	    		<input type="text" ng-model="datosUsuario.usuario" placeholder="Usuario">
	  		</label>
	  		<label class="item item-input">
	    		<input type="password" ng-model="datosUsuario.password" ng-minlength="5" placeholder="Contraseña">
	  		</label>
	  		<!-- Aqui se despliega la imagen que escoge el usuario -->
	  		<img ng-show="imgURI !== undefined" src="{{imgURI}}" style="width:100%; height: auto;"/>
		</div>
		<button class="button button-full button-dark" ng-disabled="!datosUsuario.email || !datosUsuario.password || !datosUsuario.nombre || !datosUsuario.apPaterno || !datosUsuario.apMaterno || !datosUsuario.usuario" ng-click="registrarUsuario()">
  			Registrarse
		</button>
		<!--Boton para abrir la camara-->
		<button class="button button-full button-positive" ng-click="abrirCamara()">Tomar foto de perfil</button>
	</ion-content>
</ion-view>