<ion-view view-title="Mis Rutinas">
	<ion-content class="padding">
	<ion-refresher pulling-text="Baja para actualizar..." on-refresh="showData()">
        </ion-refresher>
	        <div class="row responsive-sm" show-Delete = "data.showDelete" show-Reorder = "data.showReorder">
	            <div class="list" ng-repeat="datosRutina in datosRutinas">
		  			<div class="item item-button-right">
			            {{datosRutina.nombreRutina}}
                  		<a class="button" href="#/side/Rutina/{{datosRutina.id_rutina}}">
                      		<i class="icon ion-chevron-right"></i>
                  		</a>
		            </div>
	            </div>
			</div>
	</ion-content>
</ion-view>